{% if product == blank %}
  {% assign product = product_param %}
{% endif %}

<div class="sticky top-6">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <div class="flex">
    <div id="productMobileSwiper" class="swiper w-[calc(100%-112px)] md:w-[calc(100%-144px)]">
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <img
            src="{{ image.src | img_url: 'master' }}"
            alt="{{ image.alt }}"
            height="{{ image.height }}"
            width="{{ image.width }}"
            class="productSwiperImage swiper-slide rounded-lg">
        {% endfor %}
      </div>
      <div
        data-text="text"
        id="productMobileSwiperPrev"
        class="swiper-button-prev !flex bg-white !w-10 [&]:after:!text-xl [&]:after:text-gray-900"></div>
      <div
        data-text="text"
        id="productMobileSwiperNext"
        class="swiper-button-next !flex bg-white !w-10 [&]:after:!text-xl [&]:after:text-gray-900"></div>
    </div>
    <div class="w-28 lg:w-36 pl-2 grid grid-rows-3 gap-2">
      <div class="p-3 bg-[#EBF4EF] rounded-lg text-center flex flex-col items-center justify-center gap-2">
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M25.7839 9.59955C26.9413 9.59968 27.8826 10.5417 27.8826 11.6992V32.4081C27.8826 33.5656 26.9413 34.5076 25.7839 34.5078H10.2166C9.05906 34.5078 8.11694 33.5656 8.11694 32.4081V11.6992C8.11694 10.5417 9.05906 9.59955 10.2166 9.59955H25.7839ZM10.2166 10.9745C9.81711 10.9745 9.49194 11.2997 9.49194 11.6992V32.4081C9.49194 32.8076 9.81711 33.1328 10.2166 33.1328H25.7839C26.1833 33.1326 26.5085 32.8075 26.5085 32.4081V11.6992C26.5085 11.2998 26.1833 10.9747 25.7839 10.9745H10.2166Z"
            fill="#226139"
            stroke="#226139"
            stroke-width="0.25" />
          <path
            d="M14.8928 6.0451C15.2722 6.04518 15.5803 6.35316 15.5803 6.7326V10.2873C15.5801 10.6666 15.2721 10.9737 14.8928 10.9738C14.5135 10.9738 14.2055 10.6666 14.2053 10.2873V6.7326L14.219 6.59393C14.2831 6.28076 14.5608 6.0451 14.8928 6.0451ZM21.1077 6.0451C21.487 6.04525 21.7952 6.3532 21.7952 6.7326V10.2873C21.795 10.6665 21.4869 10.9737 21.1077 10.9738C20.7283 10.9738 20.4204 10.6666 20.4202 10.2873V6.7326C20.4202 6.35311 20.7282 6.0451 21.1077 6.0451Z"
            fill="#226139"
            stroke="#226139"
            stroke-width="0.25" />
          <path
            d="M23.8983 9.59879C24.2778 9.59879 24.5858 9.90679 24.5858 10.2863V25.3488C24.5858 28.5985 21.9536 31.2314 18.703 31.2316H17.2977C14.047 31.2316 11.414 28.5995 11.4139 25.3488V10.2863C11.4139 9.90679 11.7219 9.59879 12.1014 9.59879C12.4809 9.59886 12.7889 9.90684 12.7889 10.2863V25.3488C12.789 27.834 14.8116 29.8576 17.2977 29.8576H18.703C21.1881 29.8574 23.2118 27.8348 23.2118 25.3488V10.2863C23.2118 9.90691 23.519 9.59897 23.8983 9.59879ZM21.5653 1.49234C22.6418 1.49234 23.5193 2.36797 23.5194 3.44547V6.73257C23.5193 7.1119 23.2112 7.4199 22.8319 7.42007H13.1688C12.7894 7.42007 12.4814 7.11201 12.4813 6.73257V3.44547C12.4814 2.36898 13.3569 1.49234 14.4344 1.49234H21.5653ZM14.4344 2.86832C14.116 2.86832 13.8564 3.127 13.8563 3.44547L13.8553 6.04507H22.1434V3.44547C22.1433 3.127 21.8838 2.86832 21.5653 2.86832H14.4344Z"
            fill="#226139"
            stroke="#226139"
            stroke-width="0.25" />
          <path
            d="M19.3611 3.76874C19.7405 3.76888 20.0486 4.07683 20.0486 4.45624C20.0485 4.83544 19.7415 5.1436 19.3611 5.14374H16.6384C16.259 5.14374 15.951 4.83566 15.9509 4.45624C15.9509 4.07675 16.2589 3.76874 16.6384 3.76874H19.3611Z"
            fill="#226139"
            stroke="#226139"
            stroke-width="0.25" />
        </svg>
        <p class="m-0 leading-snug font-semibold text-[#226139] text-xs lg:text-sm">Same Scent                                                  
          Better Price</p>
      </div>
      <div class="p-2 lg:px-4 bg-[#EBF4EF] rounded-lg text-center flex flex-col items-center justify-center gap-2">
        <svg
          width="51"
          height="21"
          viewBox="0 0 51 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M7.52082 5.54316C7.66328 5.64152 7.73276 5.77419 7.80659 5.9277C7.81551 5.94613 7.82443 5.96456 7.83361 5.98355C7.86271 6.04382 7.89153 6.10422 7.92034 6.16464C7.94077 6.20715 7.96122 6.24966 7.98167 6.29217C8.12041 6.58117 8.25641 6.87141 8.39072 7.1625C8.51699 7.43616 8.64548 7.70872 8.77443 7.98112C8.93638 8.32328 9.09704 8.66597 9.25571 9.00966C9.32841 9.16682 9.40201 9.32346 9.47747 9.47932C9.49215 9.50965 9.50682 9.53998 9.52193 9.57123C9.54963 9.62828 9.57747 9.68526 9.60547 9.74215C9.62375 9.77977 9.62375 9.77977 9.64239 9.81814C9.6585 9.85094 9.6585 9.85094 9.67494 9.8844C9.69777 9.94144 9.69777 9.94144 9.69777 10.0267C9.73055 10.0287 9.73055 10.0287 9.76401 10.0308C10.0051 10.0474 10.2421 10.0777 10.481 10.1143C10.521 10.1204 10.561 10.1264 10.6009 10.1324C10.7084 10.1486 10.8158 10.165 10.9232 10.1814C11.0132 10.1951 11.1032 10.2088 11.1932 10.2224C11.4056 10.2547 11.618 10.2871 11.8304 10.3196C12.0489 10.353 12.2675 10.3862 12.4861 10.4192C12.6745 10.4476 12.8628 10.4763 13.0512 10.5051C13.1634 10.5222 13.2756 10.5393 13.3878 10.5562C13.4932 10.5721 13.5986 10.5882 13.7039 10.6045C13.7607 10.6132 13.8176 10.6217 13.8744 10.6302C14.3405 10.7029 14.3405 10.7029 14.4689 10.8523C14.5477 10.9645 14.5616 11.0198 14.5648 11.156C14.5659 11.1851 14.5669 11.2143 14.568 11.2443C14.5374 11.4701 14.3327 11.6193 14.1777 11.7704C14.1304 11.8167 14.0832 11.8631 14.036 11.9095C14.0152 11.9299 13.9943 11.9502 13.9728 11.9712C13.9157 12.0302 13.8619 12.09 13.8083 12.1521C13.7058 12.2702 13.5973 12.3806 13.4861 12.4904C13.456 12.5203 13.456 12.5203 13.4253 12.5508C13.3406 12.6351 13.2556 12.7193 13.1707 12.8034C13.1083 12.8653 13.0459 12.9273 12.9836 12.9893C12.9647 13.008 12.9459 13.0266 12.9265 13.0458C12.8364 13.1353 12.7496 13.2261 12.6666 13.3223C12.5661 13.4387 12.4591 13.5472 12.3497 13.6552C12.3196 13.6851 12.3196 13.6851 12.2889 13.7157C12.2042 13.8 12.1192 13.8841 12.0343 13.9682C11.9719 14.0301 11.9095 14.0921 11.8472 14.1542C11.8283 14.1728 11.8095 14.1914 11.79 14.2106C11.6805 14.3195 11.5772 14.4315 11.4777 14.5497C11.4308 14.6007 11.4308 14.6007 11.3735 14.6468C11.3144 14.6953 11.2736 14.7355 11.2319 14.7996C11.2252 14.8712 11.2252 14.8712 11.2365 14.9496C11.2399 14.9799 11.2433 15.0103 11.2468 15.0416C11.2712 15.22 11.2991 15.3976 11.3288 15.5751C11.3358 15.6176 11.3428 15.6602 11.3498 15.7028C11.3647 15.7937 11.3798 15.8846 11.3949 15.9755C11.4188 16.1194 11.4425 16.2633 11.4661 16.4072C11.5249 16.7643 11.5839 17.1214 11.643 17.4785C11.689 17.7567 11.7349 18.0348 11.7807 18.313C11.8042 18.456 11.8278 18.5989 11.8516 18.7418C11.8663 18.8307 11.881 18.9196 11.8955 19.0085C11.9023 19.0497 11.9091 19.0908 11.916 19.1319C11.9254 19.1881 11.9346 19.2444 11.9438 19.3007C11.949 19.3321 11.9542 19.3635 11.9596 19.3959C11.9844 19.6018 11.9726 19.7418 11.857 19.9135C11.7355 20.029 11.625 20.0737 11.4551 20.0699C11.262 20.0356 11.0891 19.9221 10.9194 19.8282C10.8922 19.8133 10.865 19.7984 10.837 19.783C10.66 19.6856 10.4836 19.5873 10.3073 19.4886C10.1199 19.3838 9.93196 19.2802 9.74393 19.1766C9.70945 19.1576 9.67497 19.1385 9.64049 19.1195C9.53648 19.0622 9.43246 19.0048 9.32843 18.9475C8.93337 18.7298 8.53832 18.512 8.14389 18.2931C8.09515 18.2661 8.04638 18.2391 7.99761 18.2122C7.86612 18.1393 7.73502 18.0661 7.60617 17.9887C7.57837 17.9721 7.57837 17.9721 7.55 17.9551C7.50431 17.9276 7.45895 17.8996 7.41362 17.8715C7.32282 17.8322 7.29188 17.8416 7.19766 17.8679C7.14181 17.8938 7.08689 17.9217 7.03274 17.9509C7.00067 17.9682 6.9686 17.9854 6.93555 18.0032C6.90099 18.022 6.86643 18.0408 6.83187 18.0597C6.79599 18.0791 6.76009 18.0985 6.7242 18.1179C6.47736 18.2516 6.23254 18.3887 5.98868 18.5277C5.79643 18.6371 5.6026 18.7433 5.4078 18.8481C5.18376 18.9686 4.96129 19.0916 4.74016 19.2174C4.48658 19.3617 4.23098 19.5019 3.97406 19.6402C3.78516 19.7419 3.5975 19.8456 3.41143 19.9525C3.24882 20.0453 3.12181 20.0775 2.93611 20.0555C2.78489 20.0039 2.7 19.9095 2.62359 19.7714C2.535 19.5056 2.64675 19.1488 2.69202 18.8786C2.69903 18.836 2.70603 18.7934 2.71302 18.7508C2.72797 18.6598 2.74301 18.5689 2.75813 18.478C2.78205 18.3341 2.80574 18.1903 2.82939 18.0464C2.87531 17.7671 2.92145 17.488 2.96763 17.2088C3.02653 16.8527 3.08537 16.4966 3.14392 16.1405C3.16744 15.9975 3.19109 15.8546 3.21484 15.7116C3.22958 15.6228 3.2442 15.5339 3.2588 15.4451C3.26558 15.404 3.2724 15.3629 3.27928 15.3217C3.28867 15.2656 3.29788 15.2093 3.30708 15.1531C3.31488 15.106 3.31488 15.106 3.32284 15.0579C3.33391 14.9696 3.34048 14.8884 3.33385 14.7996C3.28251 14.7364 3.23564 14.6865 3.17582 14.6327C3.14611 14.605 3.11648 14.5773 3.08692 14.5495C3.06512 14.529 3.06512 14.529 3.04287 14.508C2.99266 14.4584 2.94701 14.4068 2.90121 14.3531C2.79788 14.2342 2.68859 14.1228 2.57654 14.0121C2.55648 13.9922 2.53642 13.9722 2.51576 13.9517C2.45234 13.8886 2.38882 13.8256 2.32528 13.7626C2.24145 13.6796 2.15771 13.5964 2.07403 13.5131C2.05517 13.4945 2.03631 13.4759 2.01689 13.4567C1.90887 13.3493 1.80727 13.2384 1.70774 13.1231C1.6226 13.0271 1.53138 12.9374 1.44012 12.8473C1.42007 12.8273 1.40001 12.8074 1.37935 12.7868C1.31592 12.7237 1.25241 12.6608 1.18887 12.5978C1.10503 12.5147 1.0213 12.4316 0.937616 12.3483C0.918759 12.3297 0.899901 12.3111 0.880473 12.2919C0.77044 12.1824 0.666547 12.0695 0.565154 11.952C0.513937 11.8934 0.46019 11.8383 0.404367 11.7841C0.37495 11.7552 0.37495 11.7552 0.344939 11.7257C0.304517 11.6863 0.264046 11.647 0.223529 11.6077C0.2041 11.5885 0.184672 11.5694 0.164655 11.5497C0.147175 11.5327 0.129694 11.5157 0.111684 11.4982C-0.00371107 11.3674 -0.00232081 11.2441 0.000962677 11.0754C0.0165959 10.9296 0.0816002 10.8591 0.188065 10.7653C0.33615 10.6695 0.520929 10.6629 0.691793 10.6386C0.731292 10.6327 0.770785 10.6267 0.810272 10.6207C0.891778 10.6083 0.973314 10.5961 1.05488 10.5842C1.20071 10.5627 1.34631 10.5398 1.49193 10.517C1.66967 10.4891 1.84749 10.4619 2.02531 10.4345C2.06354 10.4286 2.10177 10.4227 2.13999 10.4169C2.3188 10.3893 2.49762 10.3618 2.67643 10.3344C2.88086 10.303 3.08527 10.2715 3.28967 10.24C3.44962 10.2152 3.60958 10.1906 3.76956 10.1661C3.86439 10.1516 3.95921 10.137 4.05402 10.1223C4.15892 10.1061 4.26385 10.09 4.36878 10.074C4.39973 10.0691 4.43067 10.0643 4.46255 10.0593C4.59888 10.0387 4.72962 10.0203 4.86801 10.0267C4.87288 10.011 4.87775 9.99531 4.88277 9.97916C4.93258 9.82376 4.99253 9.67809 5.06366 9.53137C5.07429 9.50914 5.08491 9.4869 5.09586 9.46399C5.11863 9.41638 5.14147 9.3688 5.16437 9.32125C5.20071 9.2458 5.23687 9.17026 5.27298 9.0947C5.31012 9.01699 5.34727 8.93928 5.38448 8.8616C5.50098 8.6183 5.61622 8.37441 5.73097 8.13028C5.74031 8.11043 5.74965 8.09058 5.75927 8.07013C5.88384 7.80527 6.00748 7.54 6.13049 7.27442C6.19255 7.14061 6.25469 7.00684 6.31694 6.87312C6.33152 6.84179 6.33152 6.84179 6.3464 6.80984C6.41086 6.67145 6.47553 6.53316 6.5404 6.39497C6.56163 6.34968 6.58281 6.30437 6.60394 6.25904C6.89875 5.62672 6.89875 5.62672 7.0556 5.53783C7.21005 5.48635 7.36761 5.48925 7.52082 5.54316Z" fill="#FFC106" />
          <path d="M25.3114 1.01062C25.4981 1.13952 25.5892 1.31337 25.6859 1.51452C25.6976 1.53867 25.7093 1.56283 25.7213 1.58771C25.7595 1.66669 25.7972 1.74584 25.835 1.82501C25.8618 1.88072 25.8886 1.93643 25.9154 1.99213C26.0972 2.37084 26.2754 2.75118 26.4514 3.13263C26.6169 3.49123 26.7853 3.8484 26.9543 4.20536C27.1665 4.65372 27.3771 5.10279 27.585 5.55317C27.6803 5.75912 27.7768 5.96438 27.8757 6.16862C27.8949 6.20837 27.9141 6.24811 27.9339 6.28906C27.9702 6.36382 28.0067 6.43848 28.0434 6.51304C28.0673 6.56233 28.0673 6.56233 28.0918 6.61261C28.1129 6.65559 28.1129 6.65559 28.1344 6.69944C28.1644 6.77418 28.1644 6.77418 28.1644 6.88587C28.2073 6.88855 28.2073 6.88855 28.2512 6.89128C28.5672 6.91303 28.8778 6.95274 29.1908 7.00074C29.2432 7.00865 29.2956 7.01654 29.348 7.02442C29.4888 7.04564 29.6295 7.06708 29.7703 7.08858C29.8882 7.10659 30.0062 7.1245 30.1242 7.14241C30.4026 7.18467 30.6809 7.22713 30.9592 7.26971C31.2456 7.31351 31.532 7.35694 31.8185 7.4002C32.0654 7.4375 32.3123 7.47505 32.5591 7.5128C32.7061 7.53528 32.8531 7.55766 33.0002 7.57979C33.1384 7.60059 33.2765 7.6217 33.4145 7.64304C33.489 7.65447 33.5634 7.66558 33.6379 7.67668C34.2487 7.77196 34.2487 7.77196 34.4171 7.96785C34.5203 8.11487 34.5385 8.18727 34.5427 8.36573C34.5441 8.40393 34.5455 8.44214 34.5469 8.48149C34.5068 8.7774 34.2386 8.97282 34.0354 9.17082C33.9734 9.23151 33.9115 9.2923 33.8497 9.35318C33.8224 9.37984 33.7951 9.40649 33.7669 9.43395C33.6921 9.51126 33.6216 9.58971 33.5513 9.6711C33.417 9.82577 33.2748 9.97048 33.1291 10.1143C33.0896 10.1536 33.0896 10.1536 33.0494 10.1936C32.9383 10.304 32.827 10.4143 32.7157 10.5245C32.6339 10.6057 32.5522 10.6869 32.4705 10.7682C32.4458 10.7926 32.4211 10.817 32.3956 10.8421C32.2776 10.9595 32.1639 11.0785 32.0551 11.2045C31.9234 11.3571 31.7831 11.4992 31.6398 11.6407C31.6003 11.68 31.6003 11.68 31.5601 11.72C31.449 11.8304 31.3377 11.9407 31.2264 12.0509C31.1446 12.1321 31.0629 12.2133 30.9812 12.2946C30.9565 12.319 30.9318 12.3434 30.9063 12.3685C30.7628 12.5113 30.6274 12.658 30.4971 12.8129C30.4355 12.8798 30.4355 12.8798 30.3604 12.9402C30.2831 13.0037 30.2295 13.0564 30.1749 13.1404C30.1661 13.2342 30.1661 13.2342 30.1809 13.3369C30.1854 13.3767 30.1898 13.4165 30.1944 13.4575C30.2264 13.6912 30.2629 13.924 30.3018 14.1566C30.311 14.2124 30.3202 14.2681 30.3293 14.3239C30.3489 14.443 30.3687 14.5622 30.3885 14.6813C30.4198 14.8698 30.4508 15.0584 30.4818 15.247C30.5588 15.715 30.6362 16.1829 30.7136 16.6509C30.7739 17.0154 30.8341 17.3799 30.894 17.7444C30.9248 17.9318 30.9558 18.1191 30.987 18.3063C31.0063 18.4228 31.0255 18.5393 31.0446 18.6559C31.0535 18.7097 31.0624 18.7636 31.0714 18.8174C31.0838 18.8911 31.0958 18.9649 31.1079 19.0387C31.1147 19.0798 31.1215 19.121 31.1285 19.1635C31.161 19.4333 31.1456 19.6168 30.994 19.8417C30.8348 19.9931 30.69 20.0517 30.4674 20.0467C30.2144 20.0017 29.9878 19.853 29.7653 19.73C29.7297 19.7104 29.6941 19.6908 29.6573 19.6707C29.4254 19.5431 29.1941 19.4143 28.9632 19.285C28.7176 19.1476 28.4713 19.0118 28.2249 18.876C28.1797 18.8511 28.1345 18.8262 28.0893 18.8013C27.953 18.7261 27.8167 18.651 27.6803 18.5759C27.1626 18.2905 26.6449 18.0052 26.128 17.7184C26.0641 17.6829 26.0002 17.6476 25.9363 17.6123C25.7639 17.5167 25.5921 17.4209 25.4233 17.3194C25.3868 17.2976 25.3868 17.2976 25.3497 17.2755C25.2898 17.2394 25.2303 17.2026 25.1709 17.1658C25.0519 17.1144 25.0114 17.1267 24.8879 17.1612C24.8147 17.195 24.7427 17.2316 24.6718 17.2699C24.6297 17.2925 24.5877 17.3151 24.5444 17.3384C24.4991 17.3631 24.4538 17.3878 24.4085 17.4125C24.3615 17.4379 24.3145 17.4633 24.2674 17.4887C23.9439 17.6639 23.6231 17.8436 23.3035 18.0258C23.0516 18.1691 22.7975 18.3082 22.5423 18.4456C22.2486 18.6036 21.9571 18.7646 21.6673 18.9295C21.335 19.1187 21 19.3023 20.6633 19.4835C20.4157 19.6169 20.1698 19.7528 19.926 19.8928C19.7129 20.0144 19.5464 20.0566 19.303 20.0278C19.1049 19.9602 18.9936 19.8365 18.8935 19.6555C18.7774 19.3072 18.9238 18.8397 18.9832 18.4856C18.9923 18.4297 19.0015 18.3739 19.0107 18.3181C19.0303 18.1989 19.05 18.0798 19.0698 17.9606C19.1011 17.7721 19.1322 17.5835 19.1632 17.395C19.2234 17.0291 19.2838 16.6633 19.3444 16.2974C19.4215 15.8308 19.4987 15.3642 19.5754 14.8975C19.6062 14.7102 19.6372 14.5228 19.6683 14.3355C19.6876 14.2191 19.7068 14.1027 19.7259 13.9863C19.7348 13.9324 19.7438 13.8785 19.7528 13.8246C19.7651 13.751 19.7771 13.6773 19.7892 13.6036C19.7994 13.5419 19.7994 13.5419 19.8099 13.4789C19.8244 13.3632 19.833 13.2568 19.8243 13.1404C19.757 13.0575 19.6956 12.9921 19.6172 12.9217C19.5782 12.8854 19.5394 12.8491 19.5007 12.8126C19.4721 12.7857 19.4721 12.7857 19.4429 12.7583C19.3772 12.6933 19.3173 12.6256 19.2573 12.5552C19.1219 12.3994 18.9787 12.2534 18.8318 12.1084C18.8055 12.0823 18.7792 12.0562 18.7522 12.0292C18.669 11.9466 18.5858 11.864 18.5025 11.7815C18.3927 11.6727 18.2829 11.5637 18.1733 11.4546C18.1486 11.4302 18.1238 11.4058 18.0984 11.3807C17.9568 11.2398 17.8237 11.0945 17.6932 10.9434C17.5817 10.8176 17.4621 10.7001 17.3425 10.582C17.3162 10.5559 17.2899 10.5298 17.2629 10.5028C17.1797 10.4202 17.0965 10.3376 17.0132 10.2551C16.9034 10.1463 16.7936 10.0373 16.684 9.9282C16.6593 9.9038 16.6345 9.8794 16.6091 9.85426C16.4649 9.71082 16.3287 9.56283 16.1958 9.40885C16.1287 9.33207 16.0583 9.25988 15.9851 9.18885C15.9466 9.15099 15.9466 9.15099 15.9073 9.11236C15.8543 9.06071 15.8012 9.00914 15.7481 8.95762C15.7227 8.93257 15.6972 8.90752 15.671 8.88171C15.6481 8.85943 15.6252 8.83715 15.6016 8.81419C15.4503 8.64283 15.4522 8.48121 15.4565 8.26015C15.4769 8.06912 15.5621 7.97664 15.7017 7.85374C15.8957 7.72829 16.1379 7.71966 16.3618 7.6878C16.4136 7.68001 16.4653 7.67216 16.5171 7.66427C16.6239 7.64804 16.7308 7.63212 16.8376 7.61644C17.0288 7.58833 17.2196 7.55835 17.4104 7.52839C17.6433 7.49189 17.8764 7.45615 18.1094 7.42031C18.1595 7.4126 18.2096 7.40489 18.2597 7.39718C18.494 7.36112 18.7284 7.3251 18.9627 7.28913C19.2306 7.248 19.4985 7.20674 19.7664 7.16536C19.976 7.13299 20.1856 7.10075 20.3953 7.0686C20.5196 7.04954 20.6438 7.03043 20.7681 7.01118C20.9056 6.98991 21.0431 6.96885 21.1806 6.94785C21.2211 6.94153 21.2617 6.9352 21.3035 6.92869C21.4821 6.90161 21.6535 6.87758 21.8348 6.88587C21.8412 6.86532 21.8476 6.84478 21.8542 6.82361C21.9195 6.61998 21.998 6.42909 22.0912 6.23683C22.1052 6.20769 22.1191 6.17855 22.1334 6.14853C22.1633 6.08614 22.1932 6.02379 22.2232 5.96148C22.2709 5.8626 22.3182 5.76362 22.3656 5.66461C22.4142 5.56277 22.4629 5.46094 22.5117 5.35914C22.6644 5.04032 22.8154 4.72073 22.9658 4.40081C22.978 4.3748 22.9902 4.34879 23.0029 4.32199C23.1661 3.97492 23.3281 3.6273 23.4894 3.27928C23.5707 3.10393 23.6521 2.92864 23.7337 2.75342C23.7528 2.71237 23.7528 2.71237 23.7723 2.67049C23.8568 2.48915 23.9415 2.30793 24.0265 2.12684C24.0544 2.0675 24.0821 2.00812 24.1098 1.94872C24.4962 1.12011 24.4962 1.12011 24.7017 1.00364C24.9041 0.936177 25.1106 0.939977 25.3114 1.01062Z" fill="#FFC106" />
          <path d="M42.9779 5.54322C43.1203 5.64158 43.1898 5.77425 43.2636 5.92776C43.2725 5.94619 43.2815 5.96462 43.2906 5.98361C43.3197 6.04388 43.3486 6.10428 43.3774 6.1647C43.3978 6.20721 43.4182 6.24972 43.4387 6.29223C43.5774 6.58123 43.7134 6.87147 43.8477 7.16256C43.974 7.43622 44.1025 7.70878 44.2315 7.98118C44.3934 8.32334 44.5541 8.66603 44.7127 9.00972C44.7854 9.16689 44.859 9.32352 44.9345 9.47938C44.9492 9.50971 44.9638 9.54005 44.979 9.5713C45.0067 9.62834 45.0345 9.68532 45.0625 9.74221C45.0808 9.77983 45.0808 9.77983 45.0994 9.8182C45.1155 9.851 45.1155 9.851 45.132 9.88446C45.1548 9.9415 45.1548 9.9415 45.1548 10.0267C45.1876 10.0288 45.1876 10.0288 45.221 10.0309C45.4622 10.0475 45.6992 10.0778 45.938 10.1144C45.978 10.1204 46.018 10.1264 46.058 10.1325C46.1654 10.1486 46.2728 10.165 46.3802 10.1814C46.4702 10.1952 46.5602 10.2088 46.6503 10.2225C46.8627 10.2547 47.075 10.2871 47.2874 10.3196C47.5059 10.3531 47.7245 10.3862 47.9431 10.4192C48.1315 10.4477 48.3199 10.4763 48.5082 10.5051C48.6204 10.5223 48.7326 10.5394 48.8448 10.5563C48.9502 10.5721 49.0556 10.5883 49.161 10.6045C49.2178 10.6133 49.2746 10.6217 49.3314 10.6302C49.7975 10.7029 49.7975 10.7029 49.926 10.8524C50.0047 10.9646 50.0186 11.0198 50.0218 11.156C50.0229 11.1852 50.024 11.2143 50.0251 11.2444C49.9944 11.4702 49.7898 11.6193 49.6348 11.7704C49.5874 11.8167 49.5402 11.8631 49.493 11.9096C49.4722 11.9299 49.4513 11.9503 49.4299 11.9712C49.3727 12.0302 49.3189 12.0901 49.2653 12.1522C49.1629 12.2702 49.0543 12.3807 48.9431 12.4904C48.9131 12.5204 48.9131 12.5204 48.8824 12.5509C48.7976 12.6352 48.7127 12.7193 48.6278 12.8035C48.5653 12.8654 48.503 12.9274 48.4406 12.9894C48.4218 13.008 48.4029 13.0266 48.3835 13.0458C48.2935 13.1354 48.2067 13.2262 48.1237 13.3223C48.0232 13.4388 47.9161 13.5472 47.8067 13.6553C47.7766 13.6852 47.7766 13.6852 47.7459 13.7157C47.6612 13.8 47.5763 13.8841 47.4913 13.9683C47.4289 14.0302 47.3666 14.0922 47.3042 14.1542C47.2854 14.1728 47.2665 14.1915 47.2471 14.2106C47.1376 14.3196 47.0342 14.4315 46.9348 14.5498C46.8878 14.6008 46.8878 14.6008 46.8305 14.6469C46.7715 14.6953 46.7306 14.7355 46.689 14.7997C46.6823 14.8712 46.6823 14.8712 46.6936 14.9496C46.697 14.98 46.7004 15.0104 46.7038 15.0417C46.7282 15.22 46.7561 15.3976 46.7858 15.5752C46.7928 15.6177 46.7998 15.6603 46.8068 15.7028C46.8218 15.7937 46.8368 15.8847 46.8519 15.9756C46.8758 16.1194 46.8995 16.2633 46.9232 16.4072C46.9819 16.7644 47.041 17.1215 47.1 17.4786C47.146 17.7567 47.192 18.0349 47.2377 18.3131C47.2612 18.456 47.2849 18.599 47.3086 18.7419C47.3234 18.8308 47.338 18.9197 47.3526 19.0086C47.3593 19.0497 47.3662 19.0908 47.373 19.1319C47.3825 19.1882 47.3917 19.2444 47.4009 19.3007C47.4061 19.3322 47.4113 19.3636 47.4166 19.396C47.4414 19.6019 47.4296 19.7419 47.314 19.9135C47.1925 20.0291 47.082 20.0738 46.9121 20.07C46.7191 20.0357 46.5462 19.9222 46.3764 19.8283C46.3492 19.8134 46.322 19.7984 46.294 19.783C46.117 19.6857 45.9406 19.5874 45.7643 19.4887C45.577 19.3839 45.389 19.2802 45.201 19.1766C45.1665 19.1576 45.132 19.1386 45.0975 19.1196C44.9935 19.0622 44.8895 19.0049 44.7855 18.9476C44.3904 18.7298 43.9954 18.5121 43.6009 18.2932C43.5522 18.2662 43.5034 18.2392 43.4546 18.2122C43.3231 18.1393 43.1921 18.0662 43.0632 17.9887C43.0354 17.9721 43.0354 17.9721 43.007 17.9552C42.9613 17.9277 42.916 17.8996 42.8706 17.8715C42.7798 17.8323 42.7489 17.8417 42.6547 17.868C42.5988 17.8938 42.5439 17.9217 42.4898 17.951C42.4577 17.9682 42.4256 17.9855 42.3926 18.0032C42.358 18.0221 42.3235 18.0409 42.2889 18.0598C42.253 18.0792 42.2171 18.0986 42.1812 18.1179C41.9344 18.2516 41.6896 18.3887 41.4457 18.5278C41.2535 18.6372 41.0596 18.7433 40.8648 18.8481C40.6408 18.9687 40.4183 19.0916 40.1972 19.2175C39.9436 19.3618 39.688 19.5019 39.4311 19.6402C39.2422 19.742 39.0545 19.8457 38.8685 19.9526C38.7058 20.0454 38.5788 20.0775 38.3931 20.0556C38.2419 20.004 38.157 19.9096 38.0806 19.7715C37.992 19.5057 38.1038 19.1489 38.149 18.8787C38.1561 18.8361 38.1631 18.7935 38.1701 18.7509C38.185 18.6599 38.2 18.569 38.2152 18.4781C38.2391 18.3342 38.2628 18.1903 38.2864 18.0464C38.3323 17.7672 38.3785 17.488 38.4247 17.2088C38.4836 16.8528 38.5424 16.4967 38.601 16.1406C38.6245 15.9976 38.6481 15.8546 38.6719 15.7117C38.6866 15.6229 38.7012 15.534 38.7158 15.4452C38.7226 15.404 38.7294 15.3629 38.7363 15.3218C38.7457 15.2656 38.7549 15.2094 38.7641 15.1532C38.7719 15.106 38.7719 15.106 38.7799 15.058C38.7909 14.9697 38.7975 14.8885 38.7909 14.7997C38.7395 14.7364 38.6927 14.6865 38.6328 14.6328C38.6031 14.6051 38.5735 14.5773 38.544 14.5495C38.5221 14.529 38.5221 14.529 38.4999 14.5081C38.4497 14.4585 38.404 14.4068 38.3582 14.3531C38.2549 14.2342 38.1456 14.1228 38.0336 14.0122C38.0135 13.9922 37.9935 13.9723 37.9728 13.9517C37.9094 13.8886 37.8459 13.8256 37.7823 13.7627C37.6985 13.6796 37.6147 13.5964 37.5311 13.5132C37.5122 13.4946 37.4933 13.476 37.4739 13.4568C37.3659 13.3493 37.2643 13.2384 37.1648 13.1231C37.0796 13.0271 36.9884 12.9375 36.8972 12.8473C36.8771 12.8274 36.857 12.8074 36.8364 12.7869C36.773 12.7238 36.7094 12.6608 36.6459 12.5979C36.5621 12.5148 36.4783 12.4316 36.3946 12.3484C36.3758 12.3298 36.3569 12.3111 36.3375 12.292C36.2275 12.1825 36.1236 12.0696 36.0222 11.9521C35.971 11.8935 35.9172 11.8384 35.8614 11.7842C35.832 11.7553 35.832 11.7553 35.802 11.7258C35.7615 11.6864 35.7211 11.647 35.6806 11.6077C35.6611 11.5886 35.6417 11.5695 35.6217 11.5498C35.6042 11.5328 35.5867 11.5158 35.5687 11.4983C35.4533 11.3675 35.4547 11.2442 35.458 11.0755C35.4736 10.9297 35.5386 10.8591 35.6451 10.7653C35.7932 10.6696 35.978 10.663 36.1488 10.6387C36.1883 10.6327 36.2278 10.6268 36.2673 10.6207C36.3488 10.6084 36.4303 10.5962 36.5119 10.5842C36.6577 10.5628 36.8033 10.5399 36.949 10.5171C37.1267 10.4892 37.3045 10.4619 37.4823 10.4346C37.5206 10.4287 37.5588 10.4228 37.597 10.4169C37.7758 10.3894 37.9546 10.3619 38.1335 10.3345C38.3379 10.3031 38.5423 10.2716 38.7467 10.24C38.9067 10.2153 39.0666 10.1907 39.2266 10.1662C39.3214 10.1516 39.4162 10.137 39.5111 10.1224C39.616 10.1061 39.7209 10.0901 39.8258 10.074C39.8568 10.0692 39.8877 10.0644 39.9196 10.0594C40.0559 10.0387 40.1867 10.0204 40.325 10.0267C40.3299 10.011 40.3348 9.99537 40.3398 9.97922C40.3896 9.82382 40.4496 9.67815 40.5207 9.53143C40.5313 9.5092 40.5419 9.48696 40.5529 9.46405C40.5757 9.41644 40.5985 9.36886 40.6214 9.32131C40.6577 9.24586 40.6939 9.17032 40.73 9.09476C40.7672 9.01705 40.8043 8.93934 40.8415 8.86166C40.958 8.61836 41.0733 8.37447 41.188 8.13034C41.1973 8.11049 41.2067 8.09064 41.2163 8.07019C41.3409 7.80533 41.4645 7.54006 41.5875 7.27448C41.6496 7.14067 41.7117 7.0069 41.774 6.87318C41.7885 6.84186 41.7885 6.84186 41.8034 6.8099C41.8679 6.67151 41.9326 6.53323 41.9974 6.39503C42.0187 6.34974 42.0398 6.30443 42.061 6.2591C42.3558 5.62678 42.3558 5.62678 42.5126 5.53789C42.6671 5.48641 42.8246 5.48931 42.9779 5.54322Z" fill="#FFC106" />
        </svg>
        <p class="m-0 leading-snug font-semibold text-[#226139] text-xs lg:text-sm">
          1000s of                                   
          Happy Buyers
        </p>
      </div>
      <div class="p-3 bg-[#EBF4EF] rounded-lg text-center flex flex-col items-center justify-center gap-2">
        <svg
          width="26"
          height="31"
          viewBox="0 0 26 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.0889 29.9452C12.0879 29.9449 12.0864 29.9446 12.085 29.9442C12.0841 29.944 12.0831 29.9436 12.082 29.9432C10.7831 29.5452 7.97621 28.5374 5.49219 26.6639C2.93575 24.7349 0.723633 21.8944 0.723633 17.8983V8.00964C0.723633 6.71178 1.4887 5.53438 2.6748 5.00671C5.0616 3.94656 9.61729 1.92214 11.665 1.0116C12.5146 0.634501 13.4844 0.634441 14.334 1.0116L23.3242 5.00671C24.5102 5.53443 25.2744 6.71187 25.2744 8.00964V17.8983C25.2744 21.8945 23.0624 24.7349 20.5059 26.6639C18.0223 28.5377 15.2172 29.5444 13.918 29.9432C13.9131 29.9448 13.9087 29.9468 13.9072 29.9471L13.9043 29.9481C13.3129 30.1177 12.6852 30.1174 12.0938 29.9471L12.0889 29.9452ZM13.751 2.32214C13.2729 2.10933 12.7262 2.10941 12.248 2.32214C10.1997 3.23202 5.64401 5.25644 3.25781 6.31726C2.58879 6.61474 2.1582 7.27838 2.1582 8.00964V17.8983C2.1582 21.3725 4.11506 23.8272 6.35645 25.5184C8.66616 27.2611 11.2804 28.1972 12.499 28.5712H12.498C12.8264 28.6641 13.1745 28.664 13.5029 28.5712L14.0205 28.4042C15.367 27.9511 17.6209 27.0434 19.6416 25.5184C21.8831 23.8272 23.8408 21.3727 23.8408 17.8983V8.00964C23.8408 7.27843 23.4102 6.61477 22.7412 6.31726L13.751 2.32214Z"
            fill="#226139"
            stroke="#226139"
            stroke-width="0.15" />
          <path
            d="M12.998 8.33484C16.8986 8.33484 20.0653 11.5014 20.0654 15.4012C20.0654 19.3019 16.8987 22.4686 12.998 22.4686C9.09741 22.4686 5.93066 19.3019 5.93066 15.4012C5.93084 11.5014 9.09752 8.33484 12.998 8.33484ZM12.998 9.76941C9.88926 9.76941 7.36541 12.2925 7.36523 15.4012C7.36523 18.5101 9.88917 21.0341 12.998 21.0341C16.1069 21.0341 18.6309 18.5101 18.6309 15.4012C18.6307 12.2925 16.1068 9.76941 12.998 9.76941Z"
            fill="#226139"
            stroke="#226139"
            stroke-width="0.15" />
          <path
            d="M9.76839 14.8939C10.0483 14.6143 10.503 14.6148 10.7828 14.8946L12.0913 16.2032L15.2167 13.0778C15.4966 12.798 15.9512 12.7986 16.2311 13.0785C16.5108 13.3585 16.5109 13.8124 16.2311 14.0922L12.5989 17.7244C12.319 18.0043 11.8644 18.0049 11.5845 17.7251L9.76839 15.909C9.48846 15.6291 9.48846 15.1739 9.76839 14.8939Z"
            fill="#226139"
            stroke="#226139"
            stroke-width="0.15" />
        </svg>
        <p class="m-0 leading-snug font-semibold text-[#226139] text-xs lg:text-sm">
          Money-Back Guarantee
        </p>
      </div>
    </div>
  </div>
  <div id="productMobileThumbnails" class="swiper mt-4">
    <div class="swiper-wrapper [&>.swiper-slide-thumb-active]:border-[#226139] [&>.swiper-slide-thumb-active]:opacity-100">
      {% for image in product.images %}
        <img
          id="slider-thumbnail-{{ forloop.index0 }}"
          src="{{ image | image_url: width: 150, height: 150 }}"
          alt="{{ image.alt }}"
          height="150"
          width="150"
          class="productThumbnail swiper-slide slide max-w-20 md:max-w-28 opacity-70 border-2 border-solid border-gray-200 rounded-lg cursor-pointer" />
      {% endfor %}
    </div>
  </div>

  <script>
      // Swiper Slider For product images with thumbnail sync
      window.addEventListener("DOMContentLoaded", function () {
    var productThumbnails = new Swiper('#productMobileThumbnails', {
      slidesPerView: 5,
      spaceBetween: 8,
      freeMode: true,
      watchSlidesProgress: true,
      watchOverflow: true,
      direction: 'horizontal',
      slideToClickedSlide: true,
      breakpoints: {
        320: {
          slidesPerView: 4,
        },
        600: {
          slidesPerView: 4,
        },
        900: {
          slidesPerView: 5,
        }
      }
    });

    var productImages = new Swiper('#productMobileSwiper', {
      slidesPerView: 1,
      spaceBetween: 10,
      observer: true,
      observeParents: true,
      navigation: {
        prevEl: "#productMobileSwiperPrev",
        nextEl: "#productMobileSwiperNext",
      },
      thumbs: {
        swiper: productThumbnails
      },
      breakpoints: {
        320: {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        600: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        800: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
      },
    });
      });
  </script>
</div>