{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.id }}"
  class="section-{{ section.id }}-padding"
  style="background-color: {{ section.settings.background_color }}">
  <div class="page-width">
    <h2 class="text-center text-2xl md:text-4xl font-bold">{{ section.settings.title }}</h2>
    <div class="grid gap-0 w-[900px] max-w-[100%] grid-cols-3 mx-auto">
      <div class="flex items-end border-0 border-b-2 border-[#226139] border-solid px-4 py-4 text-sm font-black md:text-base">
        Inspired by
      </div>
      <div class="flex items-center justify-center rounded-t-xl border-0 border-solid border-b-2 border-[#226139] bg-black px-4 py-4 text-sm font-black text-white md:text-base">
        <img src="{{ section.settings.logo | image_url: width: 150 }}" class="lg:max-wi-[150px] max-w-[100px] invert">
      </div>
      <div class="flex items-center justify-center rounded-t-xl border-0 border-solid border-b-2 border-[#226139] bg-white px-4 py-4 text-center text-sm font-black md:text-base">
        Other brands
      </div>
      {% for block in section.blocks %}
        {% if block.type == "product" %}
          <div class="flex items-center border-0 border-solid border-b border-black/5 bg-white px-4 py-4 text-sm font-semibold text-black md:text-base">
            {{ block.settings.name }}
          </div>
          <div class="flex items-center justify-center border-0 border-solid border-b border-gray-400 bg-black px-4 py-4 text-sm font-semibold text-white md:text-base ">
            <span data-base-price="{{ block.settings.our_price }}">
              ${{ block.settings.our_price }}</span>
          </div>
          <div class="flex items-center justify-center border-0 border-solid border-b border-black/5 bg-white px-4 py-4 text-sm font-semibold text-black md:text-base">
            <span data-base-price="{{ block.settings.other_brands }}">
              ${{ block.settings.other_brands }}</span>
          </div>
        {% endif %}
        {% if block.type == "offer" %}
          <div class="flex items-center border-0 border-solid border-b border-black/5 bg-white px-4 py-4 text-sm font-semibold text-black md:text-base">
            {{ block.settings.name }}
          </div>
          <div class="flex items-center justify-center border-0 border-solid border-b border-gray-400 bg-black px-4 py-4 text-sm font-semibold text-white md:text-base  !bg-[#226139] ">
            <span data-base-price="{{ block.settings.our_price }}">
              ${{ block.settings.our_price }}</span>
          </div>
          <div class="flex items-center justify-center border-0 border-solid border-b border-black/5 bg-white px-4 py-4 text-sm font-semibold text-black md:text-base">
            <span data-base-price="{{ block.settings.other_brands }}">
              ${{ block.settings.other_brands }}</span>
          </div>
        {% endif %}
      {% endfor %}
      <div class="!block"></div>
      <div class="rounded-b-xl bg-black px-4 py-4 !block"></div>
      <div class="!block"></div>
    </div>
    <div class="text-center mt-14">
      <a
        href="{{ section.settings.btn_url }}"
        class="no-underline text-white tracking-normal font-semibold px-8 py-3 bg-[#137c44] hover:bg-[#02491c] rounded-full text-lg transition-colors tabs-cta-ripple-animation"
        aria-label="View All">
        {{ section.settings.btn_text }}
      </a>
    </div>
    <div class="max-w-[800px] mx-auto flex flex-col items-center justify-center mt-16">
      <span
        class="jdgm-prev-badge__stars"
        data-score="4.83"
        tabindex="0"
        aria-label="4.83 stars"
        role="button">
        <span class="jdgm-star jdgm--on"></span>
        <span class="jdgm-star jdgm--on"></span>
        <span class="jdgm-star jdgm--on"></span>
        <span class="jdgm-star jdgm--on"></span>
        <span class="jdgm-star jdgm--on"></span>
      </span>
      <p class="text-center m-0 mt-2 leading-snug tracking-normal mb-4 text-lg text-gray-950">{{ section.settings.review_text }}</p>
      <div class="flex items-center justify-center gap-2">
        <h3 class="text-center text-lg font-semibold m-0">{{ section.settings.review_author }}</h3>
        <p class="text-center text-sm font-semibold m-0 flex items-center gap-0 tracking-tight">
          Verified Buyer
          <img
            src="{{ 'verified-badge.svg' | asset_url }}"
            alt="Verified"
            class="size-4">
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const productPrice = "{{ product.price | money_without_currency }}";
    const currencySymbol = "{{ cart.currency.symbol }}";

    if (productPrice) {
      const exchangeRate = Number(Shopify.currency.rate) || 1;
      const priceElements = document.querySelectorAll("[data-base-price]");

      priceElements.forEach(element => {
        const basePrice = element.dataset.basePrice;
        const convertedPrice = Number(basePrice) * Number(exchangeRate);
        const roundedConvertedPrice = Math.ceil(convertedPrice);

        if (productPrice.includes(',')) {
          element.innerHTML = `${currencySymbol}${roundedConvertedPrice},00`;
        } else {
          element.innerHTML = `${currencySymbol}${roundedConvertedPrice}.00`;
        }
      });
    }
  });
</script>

{% schema %}
  {
    "name": "How We Compare",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#fcfbf9"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "How We Compare"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "View All"
      }, {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL",
        "default": "/collections/all"
      }, {
        "type": "text",
        "id": "review_text",
        "label": "Review Text",
        "default": "Review Content"
      }, {
        "type": "text",
        "id": "review_author",
        "label": "Review Author",
        "default": "John Doe"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Product Name"
          }, {
            "type": "text",
            "id": "our_price",
            "label": "OurPrice",
            "default": "00.00"
          }, {
            "type": "text",
            "id": "other_brands",
            "label": "Other Brands Price",
            "default": "00.00"
          }
        ]
      }, {
        "type": "offer",
        "name": "Bundle Offer Row",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Buy 3 Get 5"
          }, {
            "type": "text",
            "id": "our_price",
            "label": "OurPrice",
            "default": "00.00"
          }, {
            "type": "text",
            "id": "other_brands",
            "label": "Other Brands Price",
            "default": "00.00"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "How We Compare"
      }
    ]
  }
{% endschema %}