<div class="page-width px-5 py-20">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 items-center">
      <div class="flex flex-col items-center">
        <h2 class="w-[350px] md:w-auto text-center text-3xl md:text-[36px] font-bold tracking-tight leading-normal">{{ section.settings.makes_diferent_title }}</h2>
        <img class="lg:hidden max-w-full h-auto" src={{section.settings.makes-different-image | image_url}} alt="makes different" width="450" height="450">
        <ul class="list-none p-0">
          {% for block in section.blocks %}
          <li class="mb-6 flex items-center gap-4">
            <img src="{{ 'check.svg' | asset_url }}" alt="check" width="35" height="35">
            <div>
              <h3 class="m-0 mb-2 text-lg md:text-[22px] font-medium">{{block.settings.title}}</h3>
              <p class="m-0 text-base md:text-xl font-medium">{{block.settings.description}}</p>
            </div>
            
          </li>
          {% endfor %}
        </ul>
        <a href="{{ section.settings.makes-different-btn-link }}" class="bg-[#137c44] text-white uppercase font-semibold no-underline px-6 md:px-12 py-4 text-lg rounded-full">{{ section.settings.makes-different-btn-text }}</a>
        <div class="text-center">
          <div class="flex items-center gap-2 -mb-2">
            <div class="flex items-center gap-2">
              <img
                src={{ section.settings.offer_icon_one | image_url }}
                alt="sand watch icon"
                width="20"
                height="20">
              <p class="uppercase font-semibold text-xs md:text-base">Lasts 12+ Hours</p>
            </div>
            <div class="flex items-center gap-2">
              <img
                src={{ section.settings.offer_icon_two | image_url }}
                alt="sand watch icon"
                width="20"
                height="20">
              <p class="uppercase font-semibold text-xs md:text-base">loved by 10,000+</p>
            </div>
          </div>
          <div class="flex items-center gap-2 justify-center">
            <img
              src={{ section.settings.offer_icon_three | image_url }}
              alt="sand watch icon"
              width="20"
              height="20">
            <p class="uppercase font-semibold text-xs md:text-base">60 day satisfaction guarantee
            </p>
          </div>

        </div>
      </div>
      <div class="text-center">
        <img
          class="max-w-full h-auto [display:none] lg:[display:block]"
          src="{{ section.settings.makes-different-image | image_url: width: 700 }}"
          alt="special offer image"
          width="500"
          height="500">
      </div>
    </div>
  </div>

{% schema %}
    {
      "name": "Makes Different List",
      "class": "makes-different-list",
      "settings": [
        {
          "type": "text",
          "id": "makes_diferent_title",
          "label": "Title",
          "default": "What Makes TryScent Different? Everything That Matters."
        },
        {
          "type": "image_picker",
          "id": "makes-different-image",
          "label": "Section Image"
        },
        {
          "type": "text",
          "id": "makes-different-btn-text",
          "label": "Button Text",
          "default": "Click Here"
        },
        {
          "type": "url",
          "id": "makes-different-btn-link",
          "label": "Button Link"
        },
        {
        "type": "image_picker",
        "id": "offer_icon_one",
        "label": "Icon One"
      }, {
        "type": "image_picker",
        "id": "offer_icon_two",
        "label": "Icon Two"
      }, {
        "type": "image_picker",
        "id": "offer_icon_three",
        "label": "Icon Three"
      }
      ],
      "blocks": [
        {
          "type": "list_item",
          "name": "List Item",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "text",
              "id": "description",
              "label": "Description"
            }
          ]
        }
      ],
      "max_blocks": 20,
      "presets": [
        {
          "name": "Makes Different",
          "blocks": [
            {
              "type": "list_item"
            }
          ]
        }
      ]
    }
    {% endschema %}
    