{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div
  id="{{ section.id }}"
  class="section-{{ section.id }}-padding"
  style="background-color: {{ section.settings.background_color }}">
  <div class="page-width">
    <h2 class="text-center text-2xl md:text-4xl font-bold">{{ section.settings.title }}</h2>
    <div class="grid gap-0 w-[900px] max-w-[100%] grid-cols-3 mx-auto">
      <div class="!flex items-end border-0 border-b border-[#12121233] border-solid px-4 py-4 text-sm font-black md:text-base"></div>
      <div class="flex items-center justify-center rounded-t-xl border-0 border-solid border-b border-[#12121233] bg-[#f0f2ec] px-4 py-4 text-sm font-black text-white md:text-base">
        <img
          src="{{ 'tryscent-bottle.png' | asset_url }}"
          height="375"
          width="200"
          class="max-w-16 h-auto"
          alt="TryScent">
      </div>
      <div class="flex items-center justify-center rounded-t-xl border-0 border-solid border-b border-[#12121233] px-4 py-4 text-center text-sm font-black md:text-base">
        <img
          src="{{ 'other-bottle.png' | asset_url }}"
          height="150"
          width="150"
          class="max-w-24 h-auto"
          alt="Other Brands">
      </div>
      <div class="flex items-center [word-break:break-word] border-0 border-solid border-b border-[#12121233] pr-4 py-4 text-sm font-semibold text-black md:text-base">
        Price
      </div>
      <div class="flex items-center justify-center [word-break:break-word] border-0 border-solid border-b border-[#12121233] bg-[#f0f2ec] px-4 py-4 text-sm tracking-normal md:text-base ">
        From
        <span class="price_to_modify inline-block ml-1">$7.99</span>
      </div>
      <div class="flex items-center justify-center [word-break:break-word] border-0 border-solid border-b border-[#12121233] p-4 py-4 text-sm tracking-normal md:text-base">
        <span class="price_to_modify">$325</span>+
      </div>
      {% for block in section.blocks %}
        {% if block.type == "product" %}
          <div class="flex items-center [word-break:break-word] border-0 border-solid border-b border-[#12121233] pr-4 py-4 text-sm font-semibold text-black md:text-base">
            {{ block.settings.name }}
          </div>
          <div class="flex items-center justify-center [word-break:break-word] border-0 border-solid border-b border-[#12121233] bg-[#f0f2ec] px-4 py-4 text-sm tracking-normal md:text-base ">
            {{ block.settings.our_stack }}</div>
          <div class="flex items-center justify-center [word-break:break-word] border-0 border-solid border-b border-[#12121233] p-4 py-4 text-sm tracking-normal md:text-base">
            {{ block.settings.other_brands }}</div>
        {% endif %}
      {% endfor %}
      <div class="!block"></div>
      <div class="rounded-b-xl bg-[#f0f2ec] px-4 py-4 !block"></div>
      <div class="!block"></div>
    </div>
    <div class="max-w-[400px] mx-auto mt-8 flex flex-col gap-6 items-center">
      <a
        href="#"
        class="no-underline text-white tracking-normal font-medium px-8 py-3 bg-[#137c44] hover:bg-[#02491c] rounded-full text-lg text-center transition-colors w-full block tabs-cta-ripple-animation"
        aria-label="View All">
        {{ section.settings.btn_text }}
      </a>
      <ul class="flex justify-center flex-wrap gap-x-6 gap-y-3 list-unstyled">
        <li class="flex items-center gap-1.5">
          <img
            src="/cdn/shop/files/sandwatch.svg?v=1753955350"
            height="16"
            width="auto"
            alt="Icon">
          <span class="leading-none">Lasts 12+ Hours</span>
        </li>

        <li class="flex items-center gap-1.5">
          <img
            src="/cdn/shop/files/heart.svg?v=1753955924"
            height="16"
            width="auto"
            alt="Icon">
          <span class="leading-none">loved by 10,000+</span>
        </li>

        <li class="flex items-center gap-1.5">
          <img
            src="/cdn/shop/files/sheild-star.svg?v=1753955264"
            height="16"
            width="auto"
            alt="Icon">
          <span class="leading-none">60 day satisfaction guarantee</span>
        </li>

      </ul>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Stacks Up",
    "tag": "section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#fcfbf9"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "How TryScent Stacks Up"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "View All"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL",
        "default": "/collections/all"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Product Name"
          }, {
            "type": "text",
            "id": "our_stack",
            "label": "Our Stack"
          }, {
            "type": "text",
            "id": "other_brands",
            "label": "Other Brands"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Stacks Up"
      }
    ]
  }
{% endschema %}